// ABOUT
.about {
  background-color: $white;
  @include flex-row-wrap;
  justify-content: center;
  padding: 4rem 0;

  &__box {
    margin: 2rem;
    padding: 2rem;
  }

  &__text {
    padding: 2rem 1rem;
    margin-top: 2rem;
    max-width: 100rem;
    border-left: 2px solid $tia-maria;

    &::first-letter {
      font-weight: bold;
    }
  }
}
