// SHOP
.shop {
  @include flex-row-wrap;

  background-color: $millbrook;
  color: $white;
  padding: 2rem;
  justify-content: space-evenly;

  &__card {
    background-color: $white;
    color: $black;
    margin: 3rem 0;
    @include flex-col;
    /*  border: 8px solid $white; */
    max-width: 30rem;
    margin: 1.5rem;
    padding: 2rem;
  }

  &__title {
    text-align: center;
    width: 100%;
    margin: 2rem 0;
  }

  &__btn {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &__img {
    display: block;
  }

  &__text {
    padding: 1rem;
    margin: 2rem 0;
  }
}
