// COMPONENTS

// BUTTONS
.btn__primary {
  &,
  &:visited {
    background-color: $tia-maria;
    font-family: barlow, serif;
    border: 2px solid $tia-maria;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    background-color: $white;
    color: $tia-maria;
    border-radius: 0;
  }
}
