// COMPONENTS

// BUTTONS
.btn__primary {
  background-color: $tia-maria;
  font-family: barlow, serif;
  border: 2px solid $tia-maria;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  color: $white;

  &:focus,
  &:hover {
    background-color: $white;
    color: $tia-maria;
    border-radius: 0;
  }
}
