// COMPONENTS

// BUTTONS
.btn__primary {
  &,
  &:visited {
    background-color: $tia-maria;
    font-family: barlow, serif;
    border: 2px solid $tia-maria;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 2rem;
    color: $white;
    display: block;
    text-decoration: none;
    text-align: center;
  }

  &:focus,
  &:hover {
    background-color: $white;
    color: $tia-maria;
    border-radius: 0;
  }
}

.btn__submit {
  background-color: $millbrook;
  color: $white;
  border: none;
  padding: 1rem 0;
  font-family: inherit;
  border: 2px solid $white;

  &:focus,
  &:hover {
    background-color: $alto;
    color: $black;
    border-color: $millbrook;
    border-radius: 1rem;
  }
}
