// TYPOGRAPHY
.heading__primary {
  font-family: "Montserrat Alternates", sans-serif;
  color: $tia-maria;

  &--accent {
    display: block;
    &::before,
    &::after {
      content: "-";
    }
  }
}

.heading__secondary {
  font-family: "Montserrat Alternates", sans-serif;
  text-transform: uppercase;
  font-size: 3.2rem;
  text-align: center;
  margin: 2rem 0;
  width: 100%;

  &--dark {
    color: $black;
  }
}

.heading__tertiary {
  font-family: "Barlow", sans-serif;
  background-color: $clay-creek;
  color: $white;
  padding: 1.5rem;

  &--dark {
    background-color: $millbrook;
    text-align: center;
  }
}
